.clearfix {
    overflow: auto;
}
body{
    background-image: url("../images/darkness.png");
}


main{
    margin-left: 5vw;
    margin-right: 5vw;
}
#header{
    background-color: #ca8927;
    color: white;
    height: 15vh;
}
#main-body{
    height: 75vh;
    background-color: red;
}
#footer{
    height: 10vh;
    color: white;
    background-color: rebeccapurple;
}

/* Portfolio Page */
#left-panel{
    background-color: rgb(53, 106, 122);
    color: white;
    height: auto;
    
}
#right-panel{
    background-color: rgb(81, 119, 63);
    color: white;
    
}
